@import url("../../css/styles.css");

:root {
    --sliderHeight: 13rem;
}

p {
    margin: 0;
    display: -webkit-box;           /* Required for the line-clamp property */
    -webkit-line-clamp: 1;          /* Number of lines to show */
    -webkit-box-orient: vertical;   /* Ensures the box is vertically oriented */
    overflow: hidden;               /* Hides the overflowing text */
    text-overflow: ellipsis;        /* Adds '...' for overflow */
    line-height: 1.25rem;           /* Line height for two lines */
    max-height: 1.25rem;  /* Ensures the height accommodates exactly two lines */
    font-size: 0.6rem;              /* Ensure consistent font size */
}

h2 {
    margin: 0;
    text-align: left;
}

h3 {
    margin: 0;
    text-align: left;
}

.followed-artists-section {
    display: flex;
    flex-direction: column;
    gap: var(--gapBigBlocks);
}
.artist-card {
    display: flex;
    flex-direction: row;
    height: var(--sliderHeight);
}

.artist-block {
    display: flex;
    flex-direction: row;
    border-radius: var(--borderRadius);
    background-color: var(--neutral90);
    padding: 0 1rem;
    width: 25rem;
    height: var(--sliderHeight);
    gap: var(--gapDistance);
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}

#artist-image {
    height: 8rem;
    width: 8rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

#album-image {
    width: 8rem;
    height: auto; 
    border-radius: var(--borderRadius);
    margin: 0 auto 1rem auto;
    aspect-ratio: 1/1;
}

#artist-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    flex-grow: 1;
}

.album-slider {
    height: var(--sliderHeight);
    display: flex;
    flex-direction: row;
    gap: var(--gapBigBlocks);
    padding: 0 4rem;
}

.album-block {
    height: var(--sliderHeight);
    width: 8rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 0.6rem;
    line-height: 1.25rem;
    text-transform: capitalize;
}

.album-block strong {
    font-size: 0.8rem;
}

.album-image {
    width: auto;
    border-radius: var(--borderRadius);
    aspect-ratio: 1/1;
}