/* @import url("../../../styles.css"); */
@import url("../../css/styles.css");

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.maincontent {
    width: 50%;
    display: flex;
    background-color: var(--neutral90);
    border-radius: var(--borderRadius);
    flex-direction: column;
    align-items: center;
    padding: 2rem 5rem; /* Added padding for better spacing */
    box-sizing: border-box; /* Ensures padding doesn't affect width */
    gap: var(--gapDistance);
}

.maincontent button {
    background-color: var(--neutral70);
}

h1 {
    text-align: center;
    width: 100%;
}

p {
    width: 100%;
    text-align: justify;
    text-align-last: none;
}

form {
    align-self: start;
    width: 100%;
}

.home-button {
    margin-top: 2rem;
}

.home-button:hover {
    cursor: pointer;
}

.login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gapDistance);
    font-size: 0.75rem;
    font-style: italic;
}

.login:not(.authenticated) {
    flex-direction: row;
    gap: var(--gapDistance);
    align-items: center;
    justify-content: center;
}

.login p {
    margin: 0;
    text-align: center;
}

.login button {
    text-align: center;
}
 
#logout{
    align-items: center;
    text-align: center;
}

/* Logo Adjustment */
.logo {
    width: 100%;
    height: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
    main {
        padding: 1.5rem 0;
        align-items: center;
    }

    .maincontent {
        width: 80%;
        padding: 1rem;
    }

    .logo {
        max-width: 100%;
    }

    h1 {
        font-size: 1.5rem;
    }
}