/* Add Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

/* Variables */
:root {
    --neutral100: #050505;
    --activity: black;
    --neutral90: #1d1c1c;
    --neutral70: #525252;
    --neutral0: #ffffff;
    --accent100: #BB86FC;
    --accent90: #3700B3;
    --success: #03DAC5;
    --danger: #FF0266;
  }

 @font-face {
    font-family: 'Bauhaus93';
    src: url('static/tracker/fonts/BAUHS93.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: var(--neutral90);
    color: var(--neutral0);
    display: flex;
    flex-direction: column;
    margin-top: 12%;
}

/* Structuring Site */
.main{
    align-items: left;
    margin-left: 8%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 25%;
}
