<!DOCTYPE html>
<html lang="en">
<head> 
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Artist Search</title>
    <link rel="stylesheet" href="{% static 'tracker/styles.css' %}">
    <link rel="icon" href="{% static 'tracker/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>Artist Name 🔍</h1>
        <form method="POST" class="search-form" action="{% url 'artist_search' %}">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="artist_name" id="artist_name" class="input-field" required>
                <button type="submit" class="btn">Search</button>
            </div>
        </form>
</body>
</html>
