<!-- artist_overview.html -->
{% extends 'base_with_sidebar.html' %}
{% load static %}

{% block title %}
    Artist Overview - {{ artist_name }}
{% endblock %}

{% block site_specific_css %}
    <link rel="stylesheet" href="{% static 'tracker/css/tracker.css' %}" type="text/css">
{% endblock %}

{% block maincontent %}

    {% if error %}
        <p>{{ error }}</p>
    {% else %}
        <div class="artist-detail">
            {% if artist_photo_url %}
                <img src="{{ artist_photo_url }}" alt="{{ artist_name }}'s photo">
            {% endif %}

            <div id="artist-name">
                <h1>{{ artist_name }}</h1>
                <button id="follow-button" class="button" 
                    data-artist-id="{{ artist_info.id }}" 
                    data-artist-name="{{ artist_info.name }}"
                    data-artist-genres="{{ artist_info.genres }}"
                    data-artist-popularity="{{ artist_info.popularity }}"
                    data-artist-photo-url="{{ artist_photo_url }}"
                    data-follow-url="{% url 'follow_artist' %}">
                    {% if artist_info.id in user_followed_artist_ids %}Unfollow{% else %}Follow{% endif %}
                </button>
            </div>
            
            {% if artist_info.genres %}
                <p>Genres: {{ artist_info.genres|join:", " }}</p>
            {% endif %}

            <p>Popularity: {{ artist_info.popularity }}</p>
            <p>Total Albums: <span id="total-albums">{{ artist_info.total_albums }}</span></p>

            <!-- Add counters for Collection, Wishlist, and Blacklist -->
            <div class="album-counters">
                <h2>{{ artist_name }} collection progress</h2>
                <div class="counter-item">
                    <div id="progress-bar">
                        <div id="collection-progress" class="progress"></div>
                        <div id="collection-and-wishlist-progress" class="progress"></div>
                        <div id="wishlist-progress" class="progress"></div>
                        <div id="blacklist-progress" class="progress"></div>
                    </div>
                    <span id="collection-percentage"></span>
                </div>
                <div id="progress-counter">
                    <div class="progress-item">
                        <div id="legend-collection" class="legend"></div>
                        <span id="collection-counter" class="counter">{{ collection_count }}</br></span> 
                        <span>Collection</span> 
                    </div>
                    <div class="progress-item">
                        <div id="legend-collection-and-wishlist" class="legend"></div>
                        <span id="collection-and-wishlist-counter" class="counter">{{ collection_and_wishlist_count }}</br></span> 
                        <span>Collection & Wishlist</span> 
                    </div>
                    <div class="progress-item">
                        <div id="legend-wishlist" class="legend"></div>
                        <span id="wishlist-counter" class="counter">{{ wishlist_count }}</br></span> 
                        <span>Wishlist</span> 
                    </div>
                    <div class="progress-item">
                        <div id="legend-blacklist" class="legend"></div>
                        <span id="blacklist-counter" class="counter">{{ blacklist_count }}</br></span> 
                        <span>Blacklist</span>
                    </div>
                </div>
            </div>                                         

        </div>

        <div class="album-overview">
            <div class="sticky-top">
                <div class="latest-release">
                    <iframe src="https://open.spotify.com/embed/album/{{ latest_album.id }}"
                    class="spotify-player" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>

                <div class="sorting-controls">
                    <label for="album-type-filter">Filter by Album Type:</label>
                    <select id="album-type-filter">
                        <option value="">All Types</option>
                        <option value="Album">Album</option>
                        <option value="Single">Single</option>
                    </select>
                    
                    <label for="sort-criteria">Sort by:</label>
                    <select id="sort-criteria">
                        <option value="release_date">Release Date</option>
                    </select>
                    <img id="sort-toggle" class="sort-icon" 
                        src="{% static 'icons/sort-asc.svg' %}" 
                        alt="Sort toggle" 
                        data-sort-order="asc">
                </div>

                <div class="gradient-box"></div>
            </div>
            <div class="album-grid">
                {% for album in albums %}
                <div class="album-item" 
                    data-album-id="{{ album.spotify_id }}" 
                    data-album-name="{{ album.name }}"
                    data-album-type="{{ album.album_type }}" data-release-date="{{ album.release_date }}"
                    data-image-url="{{ album.image_url }}"
                    data-artist-id="{{ artist_info.id }}"
                    data-artist-name="{{ artist_name }}"
                    data-artist-photo-url="{{ artist_photo_url }}"
                    data-artist-genres="{{ artist_info.genres }}"
                    data-artist-popularity="{{ artist_info.popularity }}"
                    data-in-collection="{% if album.spotify_id in user_album_ids %}true{% else %}false{% endif %}"
                    data-in-wishlist="{% if album.spotify_id in user_wishlist_ids %}true{% else %}false{% endif %}"
                    data-in-blacklist="{% if album.spotify_id in user_blacklist_ids %}true{% else %}false{% endif %}"
                    data-in-collection-and-wishlist="{% if album.spotify_id in user_album_ids and album.spotify_id in user_wishlist_ids %}true{% else %}false{% endif %}">
                    <div class="album-controls">
                        <img id="blacklist-control-icon" class="icon" src="{% static 'icons/blacklist_add.svg' %}" alt="Edit blacklist status">
                        <img id="wishlist-control-icon" class="icon" src="{% static 'icons/wishlist_add.svg' %}" alt="Edit wishlist status">
                        <img id="control-icon" class="icon" src="{% static 'icons/add.svg' %}" alt="Add/Remove">
                    </div>

                    {% if album.image_url %}
                    <img src="{{ album.image_url }}" alt="Album cover" class="album-cover">
                    {% endif %}
                    <div class="album-info">
                        {{ album.album_type }} <br>
                        <strong>{{ album.name }} <br></strong>
                        {{ album.release_date }} <br>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script src="{% static 'js/manageAlbumState.js' %}"></script>
    <script src="{% static 'js/sortAlbums.js' %}"></script>
    <script src="{% static 'js/filterByAlbumType.js' %}"></script>
    <script src="{% static 'js/followArtist.js' %}" ></script>>
{% endblock %}
