<!-- {# {% extends "base_menu.html" %} #} -->
{% extends 'base.html' %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/welcome.css' %}" type="text/css">
{% endblock %}

{% block content %}

  <div class="maincontent">

    <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo">
 
    <h1>Register</h1>
    
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Register" class="button" />
    </form>

  </div>

{% endblock %}