{% extends 'base.html' %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/apps/users/login_register.css' %}" type="text/css">
{% endblock %}

{% block content %}

  <div class="maincontent">  
    <div class="main-block">

      <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo">
  
      <h1>Login</h1>
      {% if form.errors %}
      Your username and password didn't match. Please try again.
      <br>Maybe you have to verify your account first. Check your email for the verification link.
      {% endif %}

      {% if next %}
      {% if user.is_authenticated %}
      {% if not user.profile.email_verified %}
        Your email address has not been verified. Please check your email for the verification link.
      {% elif next %}
        Your account doesn't have access to this page. To proceed,
        please login with an account that has access.
      {% endif %}
      {% else %}
      {% if next %}
        Please login to see this site.
      {% endif %}
      {% endif %}
      {% endif %}

      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login" class="button" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
      <a href="{% url 'password_reset' %}">Forgot your password?</a>
      <p>New? <a href="{% url 'register' %}">Register</a> now!</p>
    </div>
  </div>

{% endblock %}