{% extends "base.html" %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/apps/users/login_register.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="maincontent">  
    <div class="main-block">

      <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo">

      <h2>Set New Password</h2>
    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Change Password</button>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

    </div>
</div>
{% endblock %}