{% extends "base.html" %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/apps/users/login_register.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="maincontent">  
    <div class="main-block">

      <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo">

    <h2>Reset Password</h2>
    {% if form.errors %}
      Your username and email didn't match. Please try again.
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.email.label_tag }} {{ form.email }}
        {{ form.username.label_tag }} {{ form.username }}
        <input type="submit" value="Reset Password">
    </form>

    </div> 
</div>
{% endblock %}