<!DOCTYPE html>
<html lang="en">
<head> 
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/css/sidebar.css' %}">
    <link rel="icon" href="{% static 'home/favicon.ico' %}" type="image/x-icon">
    <title>Sidebar</title>
</head>
<div class="sidebar">
    <div class="sidebar-logo">
        <img src="{% static 'home/home.png' %}" alt="Logo" style="width: 50%; height: 50%" class="logo-img">
    </div>
    <div class="sidebar-item" onclick="togglePopup('popup1')">Home</div>
    <div class="sidebar-item" onclick="togglePopup('popup2')">Search</div>
    <div class="sidebar-item" onclick="togglePopup('popup3')">Wishlist</div>
    <div class="sidebar-item" onclick="togglePopup('popup4')">Settings</div>
</div>


</html>
