.content {
    width: 100%;
}

.maincontent {
    display: flex;
    flex-direction: column;
    gap: var(--gapDistance);
    height: 100%;
    width: 100%;	
}

.top-block {
    display: flex;
    flex-direction: column;
    border-radius: var(--borderRadius);
    gap: var(--gapDistance);
    width: 33%;
    height: min-content;
    height: 100%;
}

.stats-block {
    display: flex;
    flex-direction: row;
    gap: var(--gapBigBlocks);
    width: 100%;
}

.first-place {
    color: var(--accent100);
    font-weight: bold;
}

.top-list {
    display: flex;
    flex-direction: column;
    background-color: var(--neutral90);
    border-radius: var(--borderRadius);
    box-sizing: border-box;
    padding: 1rem;
    height: 13rem;
    gap: 0.8rem;
}

#top-genres {
    flex-direction: column;
    flex-grow: 1;
}

#friend-collection {
    height: 9rem;
}

.ranked-item {
    display: flex;
    flex-direction: row;
    gap: var(--gapDistance);
    justify-content: space-between;
    align-items: center;
}

.countable {
    flex: 1 0 8rem;
    display: -webkit-box;     
    -webkit-line-clamp: 1;         
    -webkit-box-orient: vertical;  
    overflow: hidden;              
    text-overflow: ellipsis;   
    line-height: 1rem;    
    max-height: 1rem;  
}

.full-block {
    display: flex;
    flex-direction: column;
    gap: var(--gapDistance);
}

.common-albums {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gapDistance);
    margin-top: 0.5rem;
}

.album-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6rem;
    height: 100%;
    margin: 0;
}

.album-item p{
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical; 
    overflow: hidden;     
    text-overflow: ellipsis;  
    line-height: 1rem; 
    max-height: 1rem;  
}

.album-cover {
    width: 100%;
    border-radius: var(--borderRadius);
}

.album-info {
    text-align: center;
    font-size: 0.75rem;
    gap: 0.25rem;
    margin: 0;
}

.user-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 0 0.5rem;
}

.friend-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quantities-block,
.competition-block {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--neutral90);
    border-radius: var(--borderRadius);
    text-align: center;
    align-items: center;
}
.competition-block {
    flex-grow: 1;
}

.competition-block form {
    width: 30%;
    margin: 0;
}

#artist-rank {
    flex-grow: 1;
    text-align: left;
    padding: 0 var(--gapBigBlocks);
}

.status-icon {
    width: 2rem;
    height: 2rem;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .stats-block {
        flex-direction: column; 
    }

    .top-block {
        width: 100%; 
    }

    .full-block {
        gap: var(--gapDistance);
        width: 100%; 
    }

    .quantities-block, .competition-block {
        flex-direction: column;
        text-align: center;
        gap: var(--gapDistance);
    }

    .quantities-block .stat, .competition-block form, #artist-rank {
        width: 100%; 
    }

    .top-list {
        height: auto;
        padding: 0.5rem; 
    }

    .ranked-item {
        flex-direction: row; 
        align-items: flex-start;
        gap: 0.5rem;
    }

    .friend-name{
        display: inline;
    }

    .album-cover {
        width: 100%; 
    }

    .friend-name {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .user-icon {
        width: 1.5rem; 
        height: 1.5rem;
    }

    #friend-collection, #similar-friends {
        height: auto; 
    }

    select {
        width: 100%;
    }

    #crown {
        margin-top: 1rem;
    }
}