/* @import url("../../../styles.css"); */
@import url("../../css/styles.css");

.maincontent{
    display: flex;
    flex-direction: wrap;
    gap: var(--gapBigBlocks);
    height: 100%;
    padding: 0 2rem;
}
