/* Add Google Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap'); */

/* Variables */
:root {
    /* Colors */
    --neutral100: #1f1f1f; /* Page Background */
    --neutral90: #292929;
    --neutral70: #525252;
    --neutral0: #ffffff; /* Regular Font */
    --accent100: #6467fa; /* Highlight Color */
    --accent90: #4e50de;
    --accentVariantA100: #C9C9EE;
    --accentVariantB100: #62BBC1;

    /* Design Sizes */
    --borderRadius: 0.5rem; /* Box Roundness */
    --iconSize: 2rem;
    --boxShadow: 0px 0.25rem 0.25rem var(--neutral100);
    --gapDistance: 1rem;
    --defaultFont: 'Tahoma', sans-serif;
    --transitionStyle: background-color 0.3s ease, transform 0.3s ease;;
}

@font-face {
    font-family: 'Bauhaus93';
    src: url("/static/fonts/BAUHS93.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Global Styles */
body {
    font-family: var(--defaultFont);
    font-size: 1rem; /* 16px */
    background-color: var(--neutral100);
    color: var(--neutral0);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
}

main {
    width: 100%;
}

a {
    color: var(--accent100);
    text-decoration: none;
}

a:hover,
a:visited {
    color: var(--accentVariantB100);
}

/* Headlines */
h1, h2 {
    text-align: left;
    font-family: 'Bauhaus93', sans-serif;
    color: var(--accent100);
    width:100%;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    color: var(--accentVariantB100);
}

p  {
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
}

/* Layout */
.page {
    display: flex; /* Create a flex container */
    flex-direction: row; /* Place items (sidebar and main content) in a row */
    width: 100%; /* Full width of the viewport */
    min-height: 100vh; /* Ensure it spans the full height of the viewport */
    gap: var(--gapDistance); /* Add spacing between sidebar and main content */
    box-sizing: border-box; /* Include padding and border in dimensions */
}

.maincontent {
    flex-grow: 1;
    padding: 2rem;
    box-sizing: border-box;
    gap: var(--gapDistance);
    height: 100vr;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--neutral90);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    border-radius: var(--borderRadius);
}

.logo {
    width: 50%;
    height: auto;
    align-self: center;
}

.icon:hover {
    cursor: pointer;
}

/* Buttons */
.button {
    width: 10rem;
    height: 3rem;
    padding: 0.75rem 1.5rem;
    font-family: var(--defaultFont);
    font-size: 1rem;
    color: var(--neutral0);
    background-color: var(--neutral70);
    border: none;
    border-radius: var(--borderRadius);
    cursor: pointer;
    box-shadow: var(--boxShadow);
    transition: var(--transitionStyle);
}

.button:hover {
    background-color: var(--accent100);
    transform: translateY(-2px);
}

.button:active {
    transform: translateY(0);
}

.button:disabled {
    background-color: var(--neutral70);
    color: var(--neutral100);
    cursor: not-allowed;
    opacity: 0.6;
}

/* Content Sections */

.artist-detail {
    position: sticky;
    top: 0;
    height: 100%;
    flex: 0 0 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.artist-detail p {
    line-height: 1rem;
    font-size: 0.75rem;
    text-align: left;
}

.artist-detail img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1; 
    margin: 2rem 0 2rem 0;
}

.sticky-top {
    position: sticky;
    top: 0;
}

.latest-release {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
    background-color: var(--neutral100);
}

.latest-release h2 {
    text-align: right;
}

.spotify-player {
    width: 100%;
    height: 5rem;
    padding: 2rem 0 1rem 0;
}

/* Controls */
.controls {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gapDistance);
    color: var(--neutral0);
    background-color: var(--neutral100);
}

.controls .icon {
    height: 1rem;
    width: auto;
}

/* Album Overview */

.album-overview {
    display: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    flex: 1;
}

.album-item {
    flex: 0 1 calc(20% - 1rem);
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin-bottom: 2rem;
}

.album-cover {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: var(--borderRadius);
}

.album-info {
    flex-grow: 1;
    margin-top: 1rem;
    text-align: left;
    color: var(--neutral0);
    font-size: 0.6rem;
    line-height: 1.25rem;
    text-transform: capitalize;
}

.album-info strong {
    font-size: 0.8rem;
    display: block;
}

.album-controls {
    height: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.album-controls .icon {
    height: 1rem;
    width: auto;
}


.album-grid {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1rem;
    flex: 1;
    overflow-y: scroll;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer */
}

.album-grid::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
}

/* Forms */
form {
    width: 100%;
    margin: 0 auto;
    background-color: var(--neutral90);
    border-radius: var(--borderRadius);
    color: var(--neutral0);
}

/* Label styling */
form label {
    display: block;
    color: var(--neutral0);
}

/* Input fields styling */
form input, form textarea {
    width: 100%;
    padding: 1rem;
    border-radius: var(--borderRadius);
    box-sizing: border-box;
    background-color: var(--neutral70);
    color: var(--neutral0);
}

/* Input/textarea focus styles */
form input:focus, form textarea:focus {
    border-color: var(--accent100); /* Highlight color when focused */
    outline: none; /* Removes default focus outline */
}

/* Textarea specific styling */
form textarea {
    resize: vertical; /* Allow vertical resizing */
}

/* Submit button styling */
form input[type="submit"] {
    background-color: var(--accent100);
    color: var(--neutral0);
    border: none;
    height: 3rem;
    padding: 0.75rem 1.5rem;
    border-radius: var(--borderRadius);
    cursor: pointer;
    transition: var(--transitionStyle);
}

form input[type="submit"]:hover {
    background-color: var(--accent90); /* Darken on hover */
    transform: translateY(-2px);
}

form input[type="submit"]:active {
    transform: translateY(0); /* Button press effect */
}

form input[type="submit"]:disabled {
    background-color: var(--neutral70);
    color: var(--neutral100);
    cursor: not-allowed;
    opacity: 0.6; /* Disabled button appearance */
}

/* Error message styling */
form .errorlist {
    color: red;
    font-size: 0.875rem;
    margin-top: 1rem;
    padding: 0;
    list-style-type: none;
}

form .errorlist li {
    margin-bottom: 0.5rem; /* Spacing between error messages */
}

/* Optional: Highlight fields with errors */
form input.error, form textarea.error {
    border-color: red; /* Red border for error fields */
}

/* Gradient Overlay */
.gradient-box {
    width: 100%; 
    height: 1rem; 
    background: linear-gradient(to bottom, rgba(31, 31, 31, 1), rgba(31, 31, 31, 0));
}

/* Sorting Controls Styling */
.sorting-controls {
    display: flex;
    flex-direction: row; /* Aligns label and select elements in a row */
    align-items: center;
    justify-content: flex-end; /* Pushes the controls to the right */
    gap: var(--gapDistance); /* Adds spacing between elements */
    padding: 1rem;
    background-color: var(--neutral90); /* Matches background */
    color: var(--neutral0); /* Matches text color */
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow); /* Optional: Adds a shadow */
}

.sorting-controls label {
    font-size: 1rem;
    color: var(--neutral0);
}

.sorting-controls select {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: var(--neutral70);
    color: var(--neutral0);
    border: none;
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow); /* Matches existing styles */
    transition: var(--transitionStyle);
}

.sorting-controls select:hover {
    background-color: var(--accent100); /* Changes color on hover */
}

.sorting-controls select:focus {
    outline: none;
    border: 1px solid var(--accent100); /* Highlight border on focus */
}

.sort-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 8px;
}

/* Responsive design adjustments */
@media (max-width: 768px) {

    form input, form textarea {
        padding: 0.75rem; /* Adjust padding for smaller screens */
    }

    form input[type="submit"] {
        padding: 0.75rem 1.5rem; /* Adjust padding for the submit button */
    }
}
