{% extends 'base_with_sidebar.html' %}
{% load static %}

{% block title %}
    {{ user.username }}'s Wishlist
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/apps/friends/friends.css' %}" type="text/css">
{% endblock %}

{% block maincontent %}
<div class="full-block">
    <div class="collection-header">
        <h1>{{ user.username }}'s Wishlist</h1>
        <p>{{ user.username }} has {{ wishlist.count }} album(s) in their wishlist.</p>
    </div>

    <div class="album-grid">
        {% for album in wishlist %}
        <div class="album-item">
            {% if album.image_url %}
                <img src="{{ album.image_url }}" alt="Album cover" class="album-cover">
            {% endif %}
            <div class="album-info">
                <strong>{{ album.name }}</strong><br>
                <em>Artist: {{ album.artist.name }}</em><br>
                <em>Release Date: {{ album.release_date }}</em><br>
                <em>Type: {{ album.album_type }}</em>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
