{% extends 'base_with_sidebar.html' %}
{% load static %}

{% block title %}
    {{ album.name }} - Details
{% endblock %}

{% block site_specific_css %}
    <link rel="stylesheet" href="{% static 'css/apps/collection/album_detail.css' %}" type="text/css">
{% endblock %}

{% block maincontent %}
    <div class="album-detail">
        <a href="{% url 'artist_overview' album.artist.id %}">
            <img src="{% static 'icons/back.svg' %}" alt="Back" class="icon">
        </a>
        {% if album.image_url %}
            <img src="{{ album.image_url }}" alt="Album cover" class="album-cover">
        {% endif %}

        <div class="spotify-player">
            <iframe src="https://open.spotify.com/embed/album/{{ album.id }}"
            id="spotify-player" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>

        <div class="album-title"> 
            <h1>{{ album.name }}</h1>
            <a href="{% url 'artist_overview' album.artist.id %}">
                <h2>{{ album.artist.name }}</h2>
            </a>
        </div>

        <div class="album-data">
            <p>
                <strong>Release Date:</strong> {{ album.release_date }}</br>
                <strong>Type:</strong> {{ album.album_type }}</br>
                {% if album.genres %}
                    <strong>Genres:</strong> {{ album.genres |join:", " }}</br>
                {% endif %}
                {% if album.styles %}
                    <strong>Styles:</strong> {{ album.styles |join:", " }}</br>
                {% endif %}
                {% if album.labels %}
                    <strong>Labels:</strong> {{ album.labels |join:", " }}</br>
                {% endif %}
                {% if album.lowest_price %}
                    <strong>Current lowest price:</strong> {{ album.lowest_price|floatformat:2 }} €</br>
                {% endif %}
            </p>
        </div>   
        
        {% if album.discogs_id %}
            <img id="edit-discogs-button" class="icon" src="{% static 'icons/edit.svg' %}" alt="Edit">
        {% endif %}
    </div>

    <div class="custom-detail">
        <!-- Collection Status Section -->
        <div class="album-status">
            <div class="collection-status" 
            data-album-id="{{ album.id }}" 
            data-album-name="{{ album.name }}"
            data-album-type="{{ album.album_type }}" data-release-date="{{ album.release_date }}"
            data-image-url="{{ album.image_url }}"
            data-artist-name="{{ album.artist.name }}"
            data-in-collection="{% if album.id in user_album_ids %}true{% else %}false{% endif %}"
            data-in-wishlist="{% if album.id in user_wishlist_ids %}true{% else %}false{% endif %}"
            data-in-collection-and-wishlist="{% if album.id in user_album_ids and album.id in user_wishlist_ids %}true{% else %}false{% endif %}">
                <!-- Collection -->
                <div class="collection">
                    {% if in_collection %}
                        <div class="collection-status">
                            <img src="{% static 'icons/collection.svg' %}" alt="In collection" style="opacity: 1;" class="icon">
                            <p>Album in collection.</p><br>
                        </div>
                        <div class="substatus-section">
                            <form method="post" id="substatus-form">
                                {% csrf_token %}
                                <select name="substatus" id="substatus" class="sorting-controls">
                                    <option value="delivered" {% if collection_entry.substatus == 'delivered' %}selected{% endif %}>Delivered</option>
                                    <option value="preordered" {% if collection_entry.substatus == 'preordered' %}selected{% endif %}>Preordered</option>
                                    <option value="ordered" {% if collection_entry.substatus == 'ordered' %}selected{% endif %}>Ordered</option>
                                    <option value="unspecified" {% if collection_entry.substatus == 'unspecified' %}selected{% endif %}>Unspecified</option>
                                </select>
                                <button type="submit" class="button">Update Substatus</button>
                            </form>   
                        </div>
                    {% else %}
                        <img src="{% static 'icons/collection.svg' %}" alt="Not in collection" style="opacity: 0.2;" class="icon">
                        <p>Album not in collection.</p><br>
                    {% endif %}
                </div> 
 
                <!-- Wishlist -->
                <div class="wishlist">
                    {% if in_wishlist %}
                        <div class="wishlist-status">
                            <img src="{% static 'icons/wishlist.svg' %}" alt="In wishlist" style="opacity: 1;" class="icon">
                            <p>Album in wishlist.</p><br>
                        </div>
                        <div class="wishlist-priority">                            
                            <form method="post" id="priority-form">
                                {% csrf_token %}
                                <select name="priority" id="priority" class="sorting-controls">
                                    <option value="0" {% if wishlist_entry.priority == 0 %}selected{% endif %}>Unspecified</option>
                                    <option value="1" {% if wishlist_entry.priority == 1 %}selected{% endif %}>Low</option>
                                    <option value="2" {% if wishlist_entry.priority == 2 %}selected{% endif %}>Medium</option>
                                    <option value="3" {% if wishlist_entry.priority == 3 %}selected{% endif %}>High</option>
                                </select>
                                <button type="submit" class="button">Update Priority</button>
                            </form>
                        </div>
                    {% else %}
                        <img src="{% static 'icons/wishlist.svg' %}" alt="Not in wishlist" style="opacity: 0.2;" class="icon">
                        <p>Album not in wishlist.</p><br>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <!-- Album Description Section -->
        <form method="post" id="edit-description-form" action="{% url 'album_detail' album.id %}">
            {% csrf_token %}
            <label for="description">
                <img src="{% static 'icons/note.svg' %}" alt="Note" class="icon"> 
            </label>

            <!-- Display the user's description if it exists -->
            {% csrf_token %}
            <textarea name="description" id="description">{{ user_description.description }}</textarea>           
            <button type="submit" id="save-button" class="button">Save Note</button>
        </form>

        <div class="bottom-block">
                {% if album.tracklist %}
                <div class="album-tracklist" id="album-tracklist">                
                    <h2>Tracklist</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Position</th>
                                <th>Title</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for track in album.tracklist %}
                            <tr>
                                <td>{{ track.position }}</td>
                                <td>{{ track.title }}</td>
                                <td>{{ track.duration }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}    
                </div>
            {% if album.discogs_id %}
                <div id="discogs-div" style="display: none;">
                    <div class="discogs">
                        <div id="wrong-info">
                            <img src="{% static 'icons/question.svg' %}" alt="Question" class="icon">
                            <p>Missing data for {{ album.name }}?</p>
                        </div>

                        <p>Please enter the Discogs Profile url for {{ album.name }} and help to improve our database!</p>
                        <a href="https://www.discogs.com/de/search?q={{ album.name }}&type=release" target="_blank">Discogs search for {{ album.name }} </a>
                        <form method="post" id="discogs-form">
                            {% csrf_token %}
                            <input type="text" name="discogs_url" id="discogs_url" placeholder="https://www.discogs.com/de/release/{{ album.discogs_id }}" required>
                            <button type="submit" class="button">Submit</button>
                        </form>
                    </div>
                </div>
                {% if album.lowest_price %}
                    <div class="price-stats" id="price-stats">
                        <h2>Price Changes</h2>
                        <canvas id="price-chart" data-album-id="{{ album.id }}" data-url="{% url 'album_price_history' album.id %}" data-urlpred="{% url 'album_price_prognosis' album.id %}"></canvas>
                    </div>
                {% endif %}
            {% else %} 
                <div class="discogs">
                    <div id="wrong-info">
                        <img src="{% static 'icons/question.svg' %}" alt="Question" class="icon">
                        <p>Missing data for {{ album.name }}?</p>
                    </div>

                    <p>Please enter the Discogs Profile url for {{ album.name }} and help to improve our database!</p>
                    <a href="https://www.discogs.com/de/search?q={{ album.name }}&type=release" target="_blank">Discogs search for {{ album.name }} </a>
                    <form method="post" id="discogs-form">
                        {% csrf_token %}
                        <input type="text" name="discogs_url" id="discogs_url" placeholder="https://www.discogs.com/de/release/{{ album.discogs_id }}" required>
                        <button type="submit" class="button">Submit</button>
                    </form>
                </div>
            {% endif %}
        </div>
{% endblock %}

{% block js %} 
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script src="{% static 'js/showPriceGraph.js' %}"></script>
    <script src="{% static 'js/albumDetail.js' %}"></script>
    <script>
        document.getElementById('edit-discogs-button').addEventListener('click', function() {
            var discogsDiv = document.getElementById('discogs-div');
            var tracklistDiv = document.getElementById('album-tracklist');
            var priceStatsDiv = document.getElementById('price-stats');
            if (discogsDiv.style.display === 'none') {
                discogsDiv.style.display = 'block';
                if (tracklistDiv) tracklistDiv.style.display = 'none';
                if (priceStatsDiv) priceStatsDiv.style.display = 'none';
            } else {
                discogsDiv.style.display = 'none';
                if (tracklistDiv) tracklistDiv.style.display = 'block';
                if (priceStatsDiv) priceStatsDiv.style.display = 'block';
            }
        });
    </script>
{% endblock %}
