{% extends 'base_with_sidebar.html' %}
{% load static %}

{% block title %}
    {{ album.name }} - Details
{% endblock %}

{% block site_specific_css %}
    <link rel="stylesheet" href="{% static 'collection/css/collection.css' %}" type="text/css">
{% endblock %}

{% block maincontent %}
    <div class="album-detail">
        {% if album.image_url %}
            <img src="{{ album.image_url }}" alt="Album cover" class="album-cover">
        {% endif %}

        <h1>{{ album.name }}</h1>
        <p><strong>Artist:</strong> {{ album.artist.name }}</p>
        <p><strong>Release Date:</strong> {{ album.release_date }}</p>
        <p><strong>Type:</strong> {{ album.album_type }}</p>
    </div>

    <div class="custom-detail">
        <!-- Collection Status Section -->
        <div class="album-status">
            <div class="collection-status" 
            data-album-id="{{ album.spotify_id }}" 
            data-album-name="{{ album.name }}"
            data-album-type="{{ album.album_type }}" data-release-date="{{ album.release_date }}"
            data-image-url="{{ album.image_url }}"
            data-artist-name="{{ artist_name }}"
            data-in-collection="{% if album.id in user_album_ids %}true{% else %}false{% endif %}"
            data-in-wishlist="{% if album.spotify_id in user_wishlist_ids %}true{% else %}false{% endif %}"
            data-in-collection-and-wishlist="{% if album.spotify_id in user_album_ids and album.spotify_id in user_wishlist_ids %}true{% else %}false{% endif %}">
                <!-- Collection -->
                <div class="collection">
                    {% if in_collection %}
                        <div class="collection-status">
                            <img src="{% static 'icons/collection.svg' %}" alt="In collection" style="opacity: 1;" class="icon">
                            <p>Album in collection.</p><br>
                        </div>
                        <div class="substatus-section">
                            <form method="post" id="substatus-form">
                                {% csrf_token %}
                                <select name="substatus" id="substatus" class="sorting-controls">
                                    <option value="delivered" {% if collection_entry.substatus == 'delivered' %}selected{% endif %}>Delivered</option>
                                    <option value="preordered" {% if collection_entry.substatus == 'preordered' %}selected{% endif %}>Preordered</option>
                                    <option value="ordered" {% if collection_entry.substatus == 'ordered' %}selected{% endif %}>Ordered</option>
                                    <option value="unspecified" {% if collection_entry.substatus == 'unspecified' %}selected{% endif %}>Unspecified</option>
                                </select>
                                <button type="submit" class="button">Update Substatus</button>
                            </form>   
                        </div>
                    {% else %}
                        <img src="{% static 'icons/collection.svg' %}" alt="Not in collection" style="opacity: 0.2;" class="icon">
                        <p>Album not in collection.</p><br>
                    {% endif %}
                </div> 
 
                <!-- Wishlist -->
                <div class="wishlist">
                    {% if in_wishlist %}
                        <div class="wishlist-status">
                            <img src="{% static 'icons/wishlist.svg' %}" alt="In wishlist" style="opacity: 1;" class="icon">
                            <p>Album in wishlist.</p><br>
                        </div>
                        <div class="wishlist-priority">                            
                            <form method="post" id="priority-form">
                                {% csrf_token %}
                                <select name="priority" id="priority" class="sorting-controls">
                                    <option value="0" {% if wishlist_entry.priority == 0 %}selected{% endif %}>Unspecified</option>
                                    <option value="1" {% if wishlist_entry.priority == 1 %}selected{% endif %}>Low</option>
                                    <option value="2" {% if wishlist_entry.priority == 2 %}selected{% endif %}>Medium</option>
                                    <option value="3" {% if wishlist_entry.priority == 3 %}selected{% endif %}>High</option>
                                </select>
                                <button type="submit" class="button">Update Priority</button>
                            </form>
                        </div>
                    {% else %}
                        <img src="{% static 'icons/wishlist.svg' %}" alt="Not in wishlist" style="opacity: 0.2;" class="icon">
                        <p>Album not in wishlist.</p><br>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <!-- Album Description Section -->
        <form method="post" id="edit-description-form" action="{% url 'album_detail' album.id %}">
            {% csrf_token %}
            <label for="description">
                <img src="{% static 'icons/note.svg' %}" alt="Note" class="icon">
            </label>

            <!-- Display the user's description if it exists -->
            {% csrf_token %}
            <textarea name="description" id="description">{{ user_description.description }}</textarea>           

            <button type="submit" id="save-button" class="button">Save Note</button>
        </form>
    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'js/albumDetail.js' %}"></script>
{% endblock %}
