{% extends 'base_with_sidebar.html' %}
{% load static %}

{% block title %}
    {{ artist_name }} - Overview
{% endblock %}

{% block site_specific_css %}
    <!-- <link rel="stylesheet" href="{% static 'css/apps/tracker/artist_overview.css' %}" type="text/css"> -->
{% endblock %}

{% block maincontent %}

    {% if error %}
        <p>{{ error }}</p>
    {% else %}
        <!-- light column -->
            <div class="artist-detail">
                {% if artist_photo_url %}
                    <a href="{% url 'artist_detail' artist.id %}">
                        <img id="search-artist-photo" src="{{ artist_photo_url }}" alt="{{ artist_name }}'s photo">
                    </a>
                {% endif %}

                <div class="follow-block" 
                    data-artist-id="{{ artist_info.id }}" 
                    data-artist-name="{{ artist_info.name }}" 
                    data-artist-genres="{{ artist_info.genres }}"
                    data-artist-popularity="{{ artist_info.popularity }}"
                    data-artist-photo-url="{{ artist_photo_url }}"
                    data-follow-url="{% url 'follow_artist' %}">
                    <button id="follow-button" class="button">
                        {% if artist_info.id in user_followed_artist_ids %}Unfollow{% else %}Follow{% endif %}
                    </button>
                </div>

                <div id="spacer-1"></div>

                <h1>{{ artist_name }}</h1>

                <div class="popularity-gauge">
                    <div class="gauge">
                        <div class="gauge-fill" id="gauge-fill" data-popularity-value="{{ artist_info.popularity }}"></div>
                        <div class="gauge-text" id="gauge-text">Popularity: {{ artist_info.popularity  }}/100</div>
                    </div>
                </div>

                {% if artist_info.genres %}
                    <p>Genres: {{ artist_info.genres|join:", " }}</p>
                {% endif %}

                <p>Total Albums: <span class="total-albums">{{ artist_info.total_albums }}</span></p>

                <div id="spacer-1"></div>

                <!-- Add counters for Collection, Wishlist, and Blacklist -->
                <div class="album-counters">
                    <h2>artist collection progress</h2>
                    <div class="counter-item">
                        <div class="progress-bar">
                            <div class="collection-progress progress"></div>
                            <div class="collection-and-wishlist-progress progress"></div>
                            <div class="wishlist-progress progress"></div>
                            <div class="blacklist-progress progress"></div>
                        </div>
                        <span class="collection-percentage"></span>
                    </div>
                    <div class="progress-counter">
                        <div class="progress-item">
                            <div class="legend-collection legend"></div>
                            <span class="collection-counter counter">{{ collection_count }}</br></span> 
                            <span>Collection</span> 
                        </div>
                        <div class="progress-item">
                            <div class="legend-collection-and-wishlist legend"></div>
                            <span class="collection-and-wishlist-counter counter">{{ collection_and_wishlist_count }}</br></span> 
                            <span>Collection & Wishlist</span> 
                        </div>
                        <div class="progress-item">
                            <div class="legend-wishlist legend"></div>
                            <span class="wishlist-counter counter">{{ wishlist_count }}</br></span> 
                            <span>Wishlist</span> 
                        </div>
                        <div class="progress-item">
                            <div class="legend-blacklist legend"></div>
                            <span class="blacklist-counter counter">{{ blacklist_count }}</br></span> 
                            <span>Blacklist</span>
                        </div>
                    </div>
                </div>                                         
            </div> 

        <!-- right column -->
            <div class="album-overview">

                <!-- The top is sticky so that is stays in place upon scrolling -->
                <div class="sticky-top">
                    <div class="spotify-block">
                        <iframe src="https://open.spotify.com/embed/album/{{ latest_album.id }}"
                        id="spotify-player" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </div>

                    <div class="control-block">
                        
                        <div class="filter-block">
                            <label for="album-type-filter">Filter by Album Type:</label>
                            <select id="album-type-filter">
                                <option value="">All Types</option>
                                <option value="Album">Album</option>
                                <option value="Single">Single</option>
                            </select>
                        </div>
                        
                        <div class="sort-block">
                            <label for="sort-criteria">Sort by:</label>
                            <select id="sort-criteria">
                                <option value="release_date">Release Date</option>
                            </select>
                            <img id="sort-toggle" class="sort-icon" 
                                src="{% static 'icons/sort-asc.svg' %}" 
                                alt="Sort toggle" 
                                data-sort-order="asc">
                        </div>

                    </div>
                    
                </div>

                <div class="album-grid">
                    {% for album in albums %}
                    <div class="album-item" 
                        data-album-id="{{ album.spotify_id }}" 
                        data-album-name="{{ album.name }}"
                        data-album-type="{{ album.album_type }}" 
                        data-release-date="{{ album.release_date }}"
                        data-image-url="{{ album.image_url }}"  
                        data-artist-id="{{ artist.id }}"
                        data-artist-name="{{ artist.name }}"
                        data-artist-photo-url="{{ artist.photo_url }}"
                        data-artist-genres="{{ artist.genres }}"
                        data-artist-popularity="{{ artist.popularity }}"
                        data-in-collection="{% if album.spotify_id in user_album_ids %}true{% else %}false{% endif %}"
                        data-in-wishlist="{% if album.spotify_id in user_wishlist_ids %}true{% else %}false{% endif %}"
                        data-in-blacklist="{% if album.spotify_id in user_blacklist_ids %}true{% else %}false{% endif %}"
                        data-in-collection-and-wishlist="{% if album.spotify_id in user_album_ids and album.spotify_id in user_wishlist_ids %}true{% else %}false{% endif %}">
                        
                        <div class="album-controls">
                            <img id="blacklist-control-icon" class="icon" src="{% static 'icons/blacklist_add.svg' %}" alt="Edit blacklist status">
                            <img id="wishlist-control-icon" class="icon" src="{% static 'icons/wishlist_add.svg' %}" alt="Edit wishlist status">
                            <img id="collection-control-icon" class="icon" src="{% static 'icons/add.svg' %}" alt="Add/Remove">
                        </div>

                        {% if album.image_url %}
                            <a href="{% url 'album_detail' album.spotify_id %}">
                                <img src="{{ album.image_url }}" alt="Album cover" class="album-cover">
                            </a>
                        {% endif %}
                        <div class="album-info">
                            {{ album.album_type }} <br>
                            <div class="album-title"><strong>{{ album.name }} <br></strong></div>
                            {{ album.release_date }} <br>
                        </div>
                    </div> 
                    {% endfor %}
                </div>
            </div>
    {% endif %} 
{% endblock %}

{% block js %}
    <script src="{% static 'js/gauge.js' %}"></script>
    <script src="{% static 'js/manageAlbumState.js' %}"></script>
    <script src="{% static 'js/sortAlbums.js' %}"></script>
    <script src="{% static 'js/filterByAlbumType.js' %}"></script>
    <script src="{% static 'js/followArtist.js' %}"></script>
    <script src="{% static 'js/updateProgressBars.js' %}"></script>
{% endblock %}
