{% extends 'base_with_sidebar.html' %}
{% load static %}

{% block title %}
    {{ artist.name }} - Details
{% endblock %}

{% block site_specific_css %}
    <link rel="stylesheet" href="{% static 'css/apps/collection/artist_detail.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slider.css' %}" type="text/css"> <!-- Add slider CSS -->
{% endblock %}

{% block maincontent %}
    <a href="{% url 'artist_search' artist.name %}">
        <img src="{% static 'icons/back.svg' %}" alt="Back" class="icon">
    </a>

    <div id="artist-information">
        <div class="column-left">

            <h1>Get to know {{ artist.name }}</h1>
            {% if artist.aliases %}
                also known as {{ artist.aliases|join:", " }}
            {% endif %}

            <div id="artist-bio">
                {% if artist.profile %}
                    <h2>About</h2>
                    {{ artist.profile }}
                {% endif %}
        
                {% if artist.members %}
                    <h2>Members</h2>
                    {{ artist.members|join:", " }}
                {% endif %}
            </div>
            
            <div class="bottom-block">

                <div id="artist-events-block" data-artist-name="{{ artist.name }}">
                    <h2>Upcoming Events</h2>
                    <div id="events-slider" class="slider">
                        <div class="slider-item">Loading...</div>
                    </div> 
                </div>

                <div id="link-block">
                    <h2>Web</h2>
                    <ul class="link-list">
                        {% for url in artist.urls %}
                            <li class="link">
                                <a href="{{ url }}" target="_blank">
                                    {% if 'instagram' in url %}
                                        <img src="{% static 'icons/instagram.svg' %}" alt="Instagram" class="icon">
                                    {% elif 'facebook' in url %}
                                        <img src="{% static 'icons/facebook.svg' %}" alt="Facebook" class="icon">
                                    {% elif 'twitter' in url %}
                                        <img src="{% static 'icons/twitter_x.svg' %}" alt="Twitter" class="icon">
                                    {% elif 'youtube' in url %}
                                        <img src="{% static 'icons/youtube.svg' %}" alt="YouTube" class="icon">
                                    {% elif 'soundcloud' in url %}
                                        <img src="{% static 'icons/soundcloud.svg' %}" alt="SoundCloud" class="icon">
                                    {% else %}
                                        <img src="{% static 'icons/website.svg' %}" alt="Website" class="icon">
                                    {% endif %}
                                    <span class="link-text">{{ url }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div> 

        <div class="column-right">
            {% if artist.photo_url %}
                <img id="search-artist-photo" src="{{ artist.photo_url }}" alt="{{ artist.name }}'s photo">
            {% endif %}

            
            <div class="popularity-gauge">
                <div class="gauge">
                    <div class="gauge-fill" id="gauge-fill" data-popularity-value="{{ artist.popularity }}"></div>
                    <div class="gauge-text" id="gauge-text">Popularity: {{ artist.popularity  }}/100</div>
                </div>
            </div>

            <div id="spacer-2"></div>
            <div id="spacer-2"></div>

            {% if artist_info.genres %}
                <p>Genres: {{ artist.genres|join:", " }}</p>
            {% endif %}
                        
            <div class="discogs">
                <div id="wrong-info">
                    <img src="{% static 'icons/question.svg' %}" alt="Question" class="icon">
                    <p>Wrong or missing data for {{ artist.name }}?</p>
                </div>

                <p>Please enter the Discogs Profile url for {{ artist.name }} and help to improve our database!</p>
                <a href="https://www.discogs.com/de/search?q={{ artist.name }}&type=artist" target="_blank">Discogs search for {{ artist.name }} </a>
                <form method="post" id="discogs-form">
                    {% csrf_token %}
                    <input type="text" name="discogs_url" id="discogs_url" placeholder="https://www.discogs.com/de/artist/{{ artist.discogs_id }}" required>
                    <button type="submit" class="button">Submit</button>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block js %}
    <script src="{% static 'js/gauge.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/eventsDisplay.js' %}"></script>
    
{% endblock %}
