<!DOCTYPE html>
    <html lang="en">
        <head> 
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>
                {% block title %}
                    Collection Tracker
                {% endblock %}
            </title>
            {% load static %}
            {% if request.user.userprofile.color_scheme == 'spring' %}
                <link rel="stylesheet" href="{% static 'css/themes/spring_theme.css' %}">
            {% elif request.user.userprofile.color_scheme == 'summer' %}
                <link rel="stylesheet" href="{% static 'css/themes/summer_theme.css' %}">
            {% elif request.user.userprofile.color_scheme == 'autumn' %}
                <link rel="stylesheet" href="{% static 'css/themes/autumn_theme.css' %}">
            {% else %}
                <link rel="stylesheet" href="{% static 'css/themes/winter_theme.css' %}">
            {% endif %}
            <link rel="stylesheet" href="{% static 'css/main.css' %}">
            <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"><!-- Sweet Alert 2 Notification-->
            <link rel="stylesheet" href="{% static 'css/components/notification.css' %}" type="text/css"> <!-- Sweet Alert 2 Custom Design fit to Web Application Dark Mode Theme -->
            {% block extra_css %}
                <!-- Opportunity to add more stylesheets specific to the page -->
            {% endblock %}
        </head>

        <body>
            <main>
                {% block content %}
                <!-- Child templates will replace this block -->
                {% endblock %}

                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script><!-- Sweet Alert 2 Notification -->
                {% block js %}
                    <!-- Opportunity to add Java Script to the page -->
                {% endblock %} 
            </main>

            <footer>
                <!-- <p>&copy; 2024 Beats & Bops</p> -->
            </footer>
        </body>

</html>
