{% load static %}
<!DOCTYPE html>
    <html lang="en">
        <head> 
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{% block title %}Collection Tracker{% endblock %}</title>
            <link rel="stylesheet" href="{% static 'css/styles.css' %}">
            <link rel="icon" href="{% static 'tracker/favicon.ico' %}" type="image/x-icon">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
            {% block extra_css %}
                <!-- Opportunity to add more stylesheets specific to the page -->
            {% endblock %}
        </head>

        <body>
            <main>
                {% block content %}
                <!-- Child templates will replace this block -->
                {% endblock %}
            </main>

            <footer>
                <!-- <p>&copy; 2024 Beats & Bops</p> -->
            </footer>

            <!-- <script src="{% static 'js/scripts.js' %}"></script> -->
            {% block js %}{% endblock %} 

        </body>
</html>
