<!DOCTYPE html>
    <html lang="en">
        <head> 
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>
                {% block title %}
                    Collection Tracker
                {% endblock %}
            </title>
            {% load static %}
            {% if request.user.userprofile.color_scheme == 'spring' %}
                <link rel="stylesheet" href="{% static 'css/spring_theme.css' %}">
            {% elif request.user.userprofile.color_scheme == 'summer' %}
                <link rel="stylesheet" href="{% static 'css/summer_theme.css' %}">
            {% elif request.user.userprofile.color_scheme == 'autumn' %}
                <link rel="stylesheet" href="{% static 'css/autumn_theme.css' %}">
            {% else %}
                <link rel="stylesheet" href="{% static 'css/winter_theme.css' %}">
            {% endif %}
            <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
            <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
            
            {% block extra_css %}
                <!-- Opportunity to add more stylesheets specific to the page -->
            {% endblock %}
        </head>

        <body>
            <main>
                {% block content %}
                <!-- Child templates will replace this block -->
                {% endblock %}

                {% block js %}
                    <!-- Opportunity to add Java Script to the page -->
                {% endblock %} 
            </main>

            <footer>
                <!-- <p>&copy; 2024 Beats & Bops</p> -->
            </footer>
        </body>

</html>
