{% load static %}

{% block extra_css %}
    <!-- <link rel="stylesheet" href="{% static 'css/components/sidebar.css' %}" type="text/css"> -->
{% endblock %}

{% block content %}
    <!-- Desktop Sidebar -->
    <div class="sidebar">
        <div id="profile-button" data-profile-url="{% url 'user_profile' %}">
            {% if user.profile.image %}
                <img id="profile-image-small" src="{{ user.profile.image.url }}">
            {% else %}
                <img id="profile-image-small" src="{% static 'img/default.jpg' %}">
            {% endif %}
        </div>

        <div class="sidebar-logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo-img">
            </a>
        </div>

        <div class="searchbar"  name="searchbar" >
            <form method="POST" class="search-form" action="{% url 'artist_search' %}">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" name="artist_name" id="artist-name" placeholder="Enter artist name" class="input-field" required>
                    <button type="submit" class="button"> <img class="icon" src="{% static 'icons/search.svg' %}"> </button>
                </div>
            </form>    
        </div>

        <div class="sidebar-item" id="home-button" data-home-url="{% url 'index' %}">
            <img class="icon" src="{% static 'icons/home.svg' %}">Home
        </div>    

        <div class="sidebar-item" id="collection-button" data-collection-url="{% url 'collection_overview' %}">
            <img class="icon" src="{% static 'icons/collection.svg' %}">Collection
        </div>

        <div class="sidebar-item" id="wishlist-button" data-wishlist-url="{% url 'wishlist_overview' %}">
            <img class="icon" src="{% static 'icons/wishlist.svg' %}">Wishlist
        </div>

        <div class="sidebar-item" id="blacklist-button" data-blacklist-url="{% url 'blacklist_overview' %}">
            <img class="icon" src="{% static 'icons/blacklist.svg' %}">Blacklist
        </div>

        <div class="sidebar-item" id="dashboard-button" data-dashboard-url="{% url 'dashboard' %}">
            <img class="icon" src="{% static 'icons/dashboard.svg' %}">Statistics
        </div>
 
        <div class="sidebar-item" id="friends-button" data-friends-url="{% url 'friends_view' %}">
            <img class="icon" src="{% static 'icons/friends.svg' %}">Friends
        </div>

    </div>

    <!-- Mobile -->
        <!-- Top Bar --> 
        <div class="topbar">
            <h1 class="pagetitle">Home</h1>
        </div>

        <!-- Navigation Bar --> 
        <div class="navbar">
            <div class="nav-item" id="home-button" data-home-url="{% url 'index' %}">
                <img class="icon" src="{% static 'icons/home.svg' %}">
            </div>
            <div class="nav-item" id="mobile-search">
                <img class="icon" src="{% static 'icons/search.svg' %}">
            </div>
            <div class="nav-item" id="mobile-collection-button" data-collection-url="{% url 'collection_overview' %}">
                <img class="icon" src="{% static 'icons/collection.svg' %}">
            </div>
            <!-- <div class="nav-item">
                <img class="icon" src="">
            </div> -->
        </div>

         <!-- Backdrop -->
         <div class="backdrop" id="backdrop"></div>

         <!-- Popup Search Bar -->
         <div class="popup-searchbar" id="popup-searchbar">
             <form method="POST" class="search-form" action="{% url 'artist_search' %}">
                 {% csrf_token %}
                 <div class="input-group">
                     <input type="text" name="artist_name" id="popup-artist-name" placeholder="Enter artist name" class="input-field" required>
                     <button type="submit" class="button">
                         <img class="icon" src="{% static 'icons/search.svg' %}">
                     </button>
                 </div>
             </form>
         </div>

{% endblock %}

{% block js %}
    <script src="{% static 'js/navigation.js' %}"></script>
{% endblock %}
