#main-block {
    width: 50%;
    height: auto;
    display: flex;
    background-color: var(--neutral90);
    border-radius: var(--borderRadius);
    flex-direction: column;
    align-items: center;
    padding: 2rem 5rem;
    box-sizing: border-box; 
    gap: var(--gapBigBlocks);
    margin: auto;
    box-sizing: border-box;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    
.maincontent {
    height: auto !important;
    padding-top: 0 !important;
    }
}