:root {
    /* Design Sizes */
    --buttonWidth: 12rem;
}

#settings-block {
    display: flex;
    flex-direction: row;
    gap: var(--gapBigBlocks);
    height: 100vh;
    box-sizing: border-box;
}

/* User Image */
input[type="file"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: var(--neutral0);
    border-radius: var(--borderRadius, 5px);
    text-align: center; 
    width: 100%;
    background-color: var(--neutral100);
    padding: 0.5rem 0;
    font-family: var(--defaultFont);
}

/* Custom button text and appearance */
input[type="file"]::-webkit-file-upload-button {
    width: var(--buttonWidth);
    height: var(--buttonHeight);
    padding: 0.75rem 1.5rem;
    font-family: var(--defaultFont);
    font-size: 1rem;
    color: var(--neutral0);
    background-color: var(--neutral70);
    border: none;
    border-radius: var(--borderRadius);
    cursor: pointer;
    box-shadow: var(--boxShadow);
    transition: var(--transitionStyle);
    box-sizing: border-box;
}

/* Hover effect on the file upload button */
input[type="file"]:hover::-webkit-file-upload-button {
    background-color: var(--accent100);
    transform: translateY(-2px);
}

.image-controls {
    display: flex;
    flex-direction: column;
    gap: var(--gapDistance);
    justify-content: space-between;
}

.user-image {
    width: 100%;
}


#profile-image-form,
#remove-image-form {
    background-color: var(--neutral100);
}

#profile-image-form .user-image input[type="button"],
#profile-image-form .user-image input[type="submit"] {
    width: var(--buttonWidth);
    height: var(--buttonHeight);
    padding: 0.75rem 1.5rem;
    font-family: var(--defaultFont);
    font-size: 1rem;
    color: var(--neutral0);
    background-color: var(--neutral70);
    border: none;
    border-radius: var(--borderRadius);
    cursor: pointer;
    box-shadow: var(--boxShadow);
    transition: var(--transitionStyle);
    box-sizing: border-box;
}

#user-settings {
    display: flex;
    flex-direction: column;
    gap: var(--gapBigBlocks);
    flex: 1 1 0;
}

#logout-button {
    background-color: var(--accentVariantB100);
    margin-bottom: 1rem;
}

#delete-account-button {
    background-color: var(--accent100);
    margin-bottom: 1rem;
}

#first-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gapBigBlocks);
    flex: 1 1 0;
    justify-content: space-between;
}

/* Badges */
.badges-block {
    display: flex;
    flex-direction: column;
    gap: var(--gapDistance);
    flex: 2 1 0;
    height: 100%;
}

.badge-display {
    width: 100%;
    display: flex;
    gap: var(--gapDistance);
    align-items: center;
    flex-wrap: wrap;
    height: 75vh;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling */
    box-sizing: border-box; 
    scrollbar-width: thin; /* Firefox Scrollbar */
    scrollbar-color: var(--neutral70) var(--neutral90); /* Firefox Scrollbar */
    border-radius: var(--borderRadius) 0 0 var(--borderRadius);
}

/* Scrollbar für Webkit-basierte Browser (Chrome, Edge, Safari) */
.badge-display::-webkit-scrollbar {
    width: 8px; 
}

.badge-display::-webkit-scrollbar-thumb {
    background-color: var(--neutral70); 
    border-radius: 4px; 
}

.badge-display::-webkit-scrollbar-track {
    background-color: var(--neutral90); 
}

.badge-item {
    width: 9rem;
    height: 16rem;
    background-color: var(--neutral90);
    padding: 1rem;
    box-sizing: border-box;
    border-radius: var(--borderRadius);
}

.badge-item.disabled {
    opacity: 0.25;
    filter: grayscale(100%);
}

.badge-item span {
    display: -webkit-box; 
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden; 
    text-overflow: ellipsis; 
    line-height: 1rem; 
    max-height: 3rem; 
    font-size: 0.8rem;
}

.badge-container {
    position: relative;
    display: inline-block;
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 1rem;
}

.badge-icon {
    height: 100%;
    width: auto;
    object-fit: cover;
    object-position: center;
    transition: var(--transitionStyle);
}

.badge-sub-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    border: 2px solid var(--neutral0);
}

.badge-description {
    display: flex;
    flex-direction: column;
}

.badge-description strong{
    color: var(--accentVariantB100);
}

.general-settings {
    display: flex;
    flex-direction: column;
}

.general-settings p {
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
}

#username {
    display: flex;
    flex-direction: row nowrap;
    justify-content: start;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    #settings-block {
        flex-direction: column;
        gap: 1.5rem;
    }

    #first-column{
        text-align: center;
        width: 100%;
    }
    #user-settings,
    .badges-block {
        width: 100%; 
    }

    .badge-item {
        width: 6rem;
        height: 12rem;
    }

    .badge-display {
        flex-direction: row; 
        align-items: center;
        justify-content: center;
        gap: 0.6rem;
        height: auto;
    }

    .badge-item span {
        display: -webkit-box;           
        -webkit-line-clamp: 3;          
        -webkit-box-orient: vertical;   
        overflow: hidden;               
        text-overflow: ellipsis;        
        line-height: 1rem;              
        max-height: 2rem;               
        font-size: 0.7rem;              
    }

    .badge-description #date{
        font-size: 0.6rem;
    }

    #spacer-2{
        display: none;
    }


}