.maincontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gapBigBlocks);
}

h1 {
    display: -webkit-box;           
    -webkit-line-clamp: 3;          
    -webkit-box-orient: vertical;   
    overflow: hidden;               
    text-overflow: ellipsis;        
    line-height: 3rem;             
    max-height: 6rem;              
    font-size: 2rem;         
}

.album-detail {
    display: flex;
    flex-direction: column;
    gap: var(--gapDistance);
    align-self: start;
    width: 20%; 
}

.album-detail img.album-cover {
    width: 100%; 
    aspect-ratio: 1 / 1;
    border-radius: var(--borderRadius);
    object-fit: cover;
    margin: 0 auto;
}

.album-detail img.album-cover:hover {
    hover: none;
    cursor: auto;
    transform: none;
}

.album-detail h1 {
    text-align: left;
    margin: 1rem 0;
    color: var(--accent100);
}

.album-detail p {
    margin: 0;
    font-size: 1rem;
    color: var(--neutral0);
}

.album-data {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
}

.custom-detail {
    display: flex;
    flex-direction: column;
    background-color: var(--neutral90);
    padding: 2rem;
    flex: 1;
    border-radius: var(--borderRadius);
    gap: var(--gapBigBlocks);
    width: 100%;
}

.icon {
    margin: auto 0;
}

textarea {
    margin: 0.5rem 0;
}

/* Album Details */
.album-status {
    display: flex;
    flex-direction: column;
    gap: var(--gapDistance);
}

.album-status button{
    width:15rem;
}

.wishlist,
.collection {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: var(--gapDistance);
    width: 100%;
    justify-content: space-left;
    text-align: left;
}

.wishlist-status,
#priority-form,
.collection-status,
#substatus-form {
    display: flex;
    flex-direction: row;
    gap: var(--gapDistance);
    align-items: center;
    flex-wrap: wrap;
}

.wishlist-priority,
.substatus-section {
    width: 50%;
}

.wishlist-status,
.collection-status {
    flex-grow: 1
}

.wishlist-priority,
.substatus-section {
    display: flex; 
    gap: var(--gapDistance); 
    align-items: center;
    width: auto;
}

.album-tracklist {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: var(--gapDistance);
    font-size: 0.8rem;
}

.album-tracklist th {
    text-align: left;
}

.spotify-player {
    width: 100%;
    height: auto;  
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: flex-start;
}

#spotify-player {
    width: 100% !important;
    height: 5rem !important;
    border-radius: var(--borderRadius);
}

.bottom-block {
    display: flex;
    flex-direction: row;
    gap: var(--gapBigBlocks);
}

.price-stats {
    display: flex;
    flex-direction: column;
    gap: var(--gapDistance);
    width: 60%;
    height: 100%;
}

#title-block {
    display: flex;
    flex-direction: row;
    gap: var(--gapDistance);
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .maincontent {
        flex-direction: row; 
        padding: 0 1rem; 
        gap: 0;
    }

    .album-detail{
        width: 100%; 
        margin-top: 3rem;
        transform: scale(0.9);
    }

    .album-status{
        display: none;
    }
    .custom-detail {
        transform: scale(0.9);
        justify-content: center;
        flex: auto;
        margin-top: 0;
    }

    .album-detail img.album-cover {
        width: 100%; 
        max-width: 300px; 
    }

    .bottom-block {
        flex-direction: column; 
        gap: var(--gapDistance);
    }

    .album-tracklist,
    .price-stats {
        width: 100%; 
    }

    #substatus-form select{
        padding: 1rem;
        width: 10rem;

    }
    #substatus-form button{
        width: 14rem;
    }

    #priority-form{
        justify-content: center;
    }

    #priority{
        transform: scale(1);
        font-size: 0.9rem;
    }

    #substatus{
        transform: scale(0.7);
        font-size: 1.1rem;
    }
}