.maincontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Allow the content to wrap in smaller screen sizes */
    gap: var(--gapBigBlocks);
}

.album-detail {
    display: flex;
    flex-direction: column;
    gap: var(--gapDistance);
    align-self: start;
    width: 20%; /* Fixed width for album detail */
}

.album-detail img.album-cover {
    width: 75%; 
    aspect-ratio: 1 / 1;
    border-radius: var(--borderRadius);
    object-fit: cover;
    margin: 0 auto;
}

.album-detail img.album-cover:hover {
    hover: none;
    cursor: auto;
    transform: none;
}

.album-detail h1 {
    text-align: left;
    margin: 1rem 0;
    color: var(--accent100);
}

.album-detail p {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: var(--neutral0);
}

.custom-detail {
    display: flex;
    flex-direction: column;
    background-color: var(--neutral90);
    padding: 2rem;
    flex: 1; /* Ensure it takes the remaining space */
    border-radius: var(--borderRadius);
    gap: var(--gapBigBlocks);
    width: 100%;
}

.icon {
    margin: auto 0;
}

textarea {
    margin: 0.5rem 0;
}

/* Album Details */
.album-status {
    display: flex;
    flex-direction: column;
    gap: var(--gapDistance);
}

.album-status button{
    width:15rem;
}

.wishlist,
.collection {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: var(--gapDistance);
    width: 100%;
    justify-content: space-left;
    text-align: left;
}

.wishlist-status,
#priority-form,
.collection-status,
#substatus-form {
    display: flex;
    flex-direction: row;
    gap: var(--gapDistance);
    align-items: center;
    flex-wrap: wrap;
}

.wishlist-priority,
.substatus-section {
    width: 50%;
}

.wishlist-status,
.collection-status {
    flex-grow: 1
}

.wishlist-priority,
.substatus-section {
    display: flex; /* Use flexbox to arrange elements horizontally */
    gap: var(--gapDistance); /* Add space between the select and button */
    align-items: center; /* Vertically center the elements */
    width: auto; /* Let the section take the width it needs */
}

.album-tracklist {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: var(--gapDistance);
    font-size: 0.8rem;
}

.album-tracklist th {
    text-align: left;
}

.spotify-player {
    width: 100%;
    height: auto;  
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: flex-start;
}

#spotify-player {
    width: 100%; !important;
    height: 5rem; !important;
    border-radius: var(--borderRadius);
}

.bottom-block {
    display: flex;
    flex-direction: row;
    gap: var(--gapBigBlocks);
}

.price-stats {
    display: flex;
    flex-direction: column;
    gap: var(--gapDistance);
    width: 60%;
    height: 100%;
}