.maincontent {
    display: flex;
    flex-direction: column;
    position: relative;
}

#artist-information {
    display: flex;
    flex-direction: row;
    gap: var(--gapBigBlocks);
    height: 100%;
}

.column-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 20%;
    gap: var(--gapDistance);
}
 
#search-artist-photo {
    width: 80%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1; 
    margin: 0 auto 1rem auto;
}

#search-artist-photo:hover{
    cursor: auto;
    transform: none;
}

.discogs {
    display: flex;
    flex-direction: column;
    gap: var(--gapDistance);
    background-color: var(--neutral90);
    border-radius: var(--borderRadius);
    padding: 1rem;
}

.discogs p {
    margin: 0;
}

#wrong-info {
    display: flex;
    flex-direction: row;
    gap: var(--gapDistance);
}

.column-left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--gapDistance);
}

#artist-bio {
    display: flex;
    flex-direction: column;
    gap: var(--gapDistance);
    line-height: 1.5rem;
}

.link-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.link-list li {
    margin: 0.5rem 0;
    display: flex;
    align-items: center; /* Center vertically */
}

.link-list a {
    text-decoration: none;
    color: var(--accent100);
    transition: color 0.3s ease;
    font-size: 0.8rem;
    line-height: 1rem;

}

.link-list a:hover {
    color: var(--accentVariantA100);
}

#events-slider {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: var(--gapDistance);
    overflow-x: auto;               
    overflow-y: hidden;             
    scroll-behavior: smooth;         
    box-sizing: border-box;          
    margin: 0;       

}

.slider-item {
    background-color: var(--neutral70);
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
    margin-bottom: var(--gapDistance);
    box-sizing: border-box;
    padding: 0.5rem;
    max-height: 20rem;
    transition: var(--transitionStyle);
    text-align: left;
    font-size: 0.6rem;
    line-height: 1.25rem;
    width: 12rem;
}

.slider-item strong {
    font-size: 0.8rem;
    line-height: 1rem;
}

.event-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 3 / 2;
    border-radius: var(--borderRadius);
}

#events-slider::-webkit-scrollbar {
    height: 0.5rem;                    
}

#events-slider::-webkit-scrollbar-thumb {
    background-color: var(--neutral70); 
    border-radius: 0.25rem;      
}      

#events-slider::-webkit-scrollbar-track {
    background-color: var(--neutral90); 
}  

.bottom-block {
    display: flex;
    flex-direction: row;
    gap: var(--gapDistance);
    justify-content: space-between;
}

#artist-events-block {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    max-width: 55%;
    overflow: hidden;
}

#link-block {
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
}

.link-list {
    list-style-type: none; /* Entfernt die Standardpunkte von der Liste */
    padding: 0;
    margin: 0;
    gap: var(--gapDistance);
}

.link {
    display: flex;
    align-items: center; 
height: 2rem;;
}

.link a {
    display: flex;
    align-items: center; 
    text-decoration: none;
}

.link img {
    margin-right: 0.5rem;
}