:root {
    --sliderHeight: 18rem;
    --sliderHeightMobile: 4rem;
}

p {
    margin: 0;
}

.artist-card {
    display: flex; 
    flex-direction: row;
    height: var(--sliderHeight);
    gap: var(--gapDistance);
}

.artist-block {
    display: flex;
    flex-direction: row;
    border-radius: var(--borderRadius);
    background-color: var(--neutral90);
    padding: 0 1rem;
    height: var(--sliderHeight);
    gap: var(--gapDistance);
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    flex: 0 0 26rem;
} 

.artist-block p {
    font-size: 0.8rem;
}

#artist-image {
    height: 9rem;
    width: 9rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

#artist-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    flex-grow: 1;
}

.album-item {
    height: 95%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 0.6rem;
    line-height: 1.25rem;
    text-transform: capitalize;
    margin: 0;
    flex: 0 0 auto;
    width: 8rem;                /* Fixed width for album items */
    box-sizing: border-box;     /* Include padding and border in dimensions */
}

.album-block strong {
    font-size: 0.8rem;
}

.album-info {
    margin: 0;
}

.album-info strong {
    margin: 0;
    display: -webkit-box;           /* Required for the line-clamp property */
    -webkit-line-clamp: 2;          /* Number of lines to show */
    -webkit-box-orient: vertical;   /* Ensures the box is vertically oriented */
    overflow: hidden;               /* Hides the overflowing text */
    text-overflow: ellipsis;        /* Adds '...' for overflow */
    line-height: 1rem;              /* Line height for one line */
    max-height: 2rem;               /* Ensures the height accommodates exactly two lines */
    font-size: 0.6rem;              /* Ensure consistent font size */
}

.progress-bar {
    background-color: var(--neutral70);
    flex: 0 0 10rem;
}

.collection-percentage {
    padding: 0 0.5rem;
}

/* Artist Recommendation */
.artist-recommendation {
    display: flex;
    flex-direction: row;
    gap: var(--gapBigBlocks);
    background-color: var(--neutral90);
    border-radius: var(--borderRadius);
    box-sizing: border-box;
    padding: 1rem;
    overflow-y: hidden;
    scroll-behavior: smooth;
    height: auto;
    min-height: 15rem; 
}

.artist-recommendation::-webkit-scrollbar {
    height: 8px;                     /* Custom scrollbar height */
}

.artist-recommendation::-webkit-scrollbar-thumb {
    background-color: var(--neutral70); /* Scrollbar thumb color */
    border-radius: 4px;              /* Rounded scrollbar thumb */
}

.artist-recommendation::-webkit-scrollbar-track {
    background-color: var(--neutral90); /* Scrollbar track color */
}  

.recommended-artist-item {
    flex-shrink: 0;
    height: 100%;
    width: 8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#recommended-artist-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    align-items: center;
    color: var(--neutral0);
}

.recommended-artist-image {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

#recommend-header {
    display: flex;
    flex-direction: row;
    gap: var(--gapDistance);
    align-items: center;
}


@media (max-width: 768px) {

        .artist-card{
            flex-direction: column;
            height: 50rem;
        }
        .artist-block{
            display: flex;
            flex-direction: row;
            flex: 0;
            padding: 5%;
        }

        #artist-info {
            display: flex;
            flex-direction: column;
            margin-left: 5%;
         }
         #artist-info h2{
            text-align: left !important;
         }
         #artist-info button {
            width: 50%;
         }

        #artist-image {
            height: 5rem;
            width: 5rem;
        }

    }