{% extends 'base_with_sidebar.html' %}
{% load static %}

{% block title %}
    Profile
{% endblock %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/profile.css' %}" type="text/css">
{% endblock %}

{% block maincontent %}
    <h1>{{ user.username }}'s Profile</h1>
    <div class="profile-header">
        <div class="user-image">
            <h2>Profile Image</h2>
            {% if user.profile.image %}
                <img id="profile-image-big" src="{{ user.profile.image.url }}">
            {% else %}
                <img id="profile-image-big" src="{% static 'img/default.jpg' %}">
            {% endif %}
            <form id="profile-image-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button">Upload Image</button>
            </form>
        </div>
        <div class="profile-info">
            <h2>User Information</h2>
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>First Name:</strong> {{ user.first_name }}</p>
            <p><strong>Last Name:</strong> {{ user.last_name }}</p>
        </div>
    </div>
{% endblock %}