<head>
    
</head>

{% block content %}
    <h1>Welcome to {{ settings.APP_NAME }}</h1>
    <p>
    Welcome to our landing page.
    </p>
    <p>
        Available Links
    </p>

    <ul>
        <li><p><a href="/index">index.html</a></p></li>
        <li><p><a href="/collection/album_overview">collection/album_overview.html</a></p></li>
        <li><p><a href="/collection/album_detail">collection/album_detail.html</a></p></li>
        <li><p><a href="/tracker">tracker</a></p></li>
        <li><p><a href="/tracker/search">tracker/search</a></p></li>
        <!--<li><p><a href="/friends"></a>friends</p></li>--> <!-- coming soon -->
        <!--<li><p>See your <a href="/stats"></a>stats</p></li>--> <!-- coming soon -->
        <!--<li><p>See your <a href="/settings"></a>settings</p></li>--> <!-- coming soon -->
        <!--<li><p>This is the authentification page <a href="/users"></a></p></li>--> <!-- coming soon -->
   <!-- <li><p><a href="/tutorial_pages">Tutorial Pages</a></p></li> --> <!-- example-->
    </ul>


          
{% endblock content %}