:root {
    /* Design Sizes */
    --coverSize: 8vw;
}

/* Left Column - Artist Details*/
    .artist-detail {
        position: sticky;
        top: 0;
        height: 100%;
        flex: 0 0 20%;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: var(--gapDistance);
    }

    .artist-detail p {
        line-height: 1rem;
        font-size: 0.75rem;
        text-align: left;
        margin: 0;
    }

    #search-artist-photo {
        width: 80%;
        height: auto;
        border-radius: 50%;
        object-fit: cover;
        aspect-ratio: 1 / 1; 
        margin: 2rem auto 1rem auto;
    }

    .sort-icon {
        width: 24px;
        height: 24px;
        cursor: pointer;
        vertical-align: middle;
        margin-left: 8px;
    }

/* Right Column - Album Overview*/
    .album-overview {
        display: flex; 
        flex-direction: column;
        flex: 1;
        position: relative; /* Prevent album-overview from overflowing */
    }

    .spotify-block {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0;
        background-color: var(--neutral100);
        z-index: 10; /* Ensures they stay on top when scrolling */
        gap: 0;
    }

    .spotify-block #spotify-player {
        width: 100%;
        height: 5rem;
        padding: 2rem 0 1rem 0;
        border-radius: var(--borderRadius);
    }

    /* Sorting Controls */

    .sorting-controls {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: var(--gapDistance);
    }

    .control-block {
        background-color: var(--neutral100);
        display: flex;
        flex-direction: row; /* Aligns label and select elements in a row */
        align-items: center;
        justify-content: flex-end; /* Pushes the controls to the right */
        gap: var(--gapDistance); /* Adds spacing between elements */
        padding: 1rem 0;
        color: var(--neutral0); /* Matches text color */
        box-shadow: var(--boxShadow); /* Optional: Adds a shadow */
        z-index: 10; /* Ensures they stay on top when scrolling */
    }

    .control-block label {
        font-size: 1rem;
        color: var(--neutral0);
    }

    .control-block select:hover {
        background-color: var(--accent100); /* Changes color on hover */
    }

    .control-block select:focus {
        outline: none;
        border: 1px solid var(--accent100); /* Highlight border on focus */
    }

    /* Album-Item : One Album item featuring the album image, info and controls */
    .album-item {
        /* flex: 0 1 calc(20% - 1rem); */
        display: flex;
        flex-direction: column;
        width: var(--coverSize);
        margin-bottom: var(--gapDistance);
        background-color: var(--neutral100);
        box-sizing: border-box;
        padding: 0.5rem;
        border-radius: var(--borderRadius);
        filter: grayscale(0);
        max-height: 20rem;
        transition: var(--transitionStyle);
    }

    .album-item:hover {
        transform: scale(1.1); /* Enlarge the album item */
        box-shadow: var(--boxShadow); /* Add a shadow on hover */
    }
    
    .album-item.disabled {
        filter: grayscale(1);  /* Ensure grayscale has a value */
    }
    
    .album-item #control-icon,
    .album-item #wishlist-control-icon,
    .album-item .album-info,
    .album-item .album-cover {
        cursor: pointer;
        pointer-events: auto;
        opacity: 1;
    }

    .album-item #blacklist-control-icon {
        opacity: 1;  /* Ensure opacity is 1 even if it's disabled */
        cursor: pointer;
        pointer-events: auto;
    }
    
    .album-item.disabled #control-icon,
    .album-item.disabled #wishlist-control-icon,
    .album-item.disabled .album-info,
    .album-item.disabled .album-cover {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
    }

    .album-cover {
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: var(--borderRadius);
    }
    
    .album-info {
        flex-grow: 1;
        margin-top: 1rem;
        text-align: left;
        color: var(--neutral0);
        font-size: 0.6rem;
        line-height: 1.25rem;
        text-transform: capitalize;
    }  
    
    .album-info .album-title { 
        font-size: 0.8rem;                      /* Increases the font size for the album title */
        display: block;
        display: -webkit-box;                   /* Required for the line-clamp property */
        -webkit-line-clamp: 2;                  /* Number of lines to show */
        -webkit-box-orient: vertical;           /* Ensures the box is vertically oriented */
        overflow: hidden;                       /* Hides the overflowing text */
        text-overflow: ellipsis;                /* Adds '...' for overflow */
        font-size: 0.8rem;  
        line-height: 1.25rem;                      /* Keeps the font size as specified */
        max-height: calc(1.25rem * 2);             /* Ensures the height accommodates exactly two lines */
    }
    
    .album-controls {
        height: 2rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5rem;
    }
    
    .album-controls .icon {
        height: 1rem;
        width: auto;
    }
   
    #control-icon, #wishlist-control-icon {
        cursor: pointer;
        opacity: 1;
        pointer-events: auto;
    }
    
    #control-icon.disabled, #wishlist-control-icon.disabled {
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;
    }
    
    .album-grid {
        padding: 2rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.75rem;
        flex: 1;
        max-height: 60vh; /* Limit the height of the grid to 60% of the viewport height */
        overflow-y: auto; /* Enable vertical scrolling */
        scrollbar-width: none; /* Hide scrollbar for Firefox */
        -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer */
    }
    
    .album-grid::-webkit-scrollbar {
        display: none; /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
    }










/* Controls */
/* .controls {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gapDistance);
    color: var(--neutral0);
    background-color: var(--neutral100);
}

.controls .icon {
    height: 1rem;
    width: auto;
} */

/* Album Overview */











#save-button:disabled {
    cursor: not-allowed;  /* Change the cursor to indicate the button is disabled */
    opacity: 0.5;  /* Dim the button */
}

