/* carousel.css */

#carousel-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    perspective: 1000px; /* Creates a 3D perspective */
    overflow: hidden;
    height: 25rem;
    opacity: 1;
    max-height: 25rem; /* Ensure max-height is set to accommodate content */
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

#carousel-container.hidden {
    max-height: 0;
    opacity: 0;
    overflow: hidden; /* Ensure overflow is hidden */
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

#carousel-container.visible {
    max-height: 25rem;
    opacity: 1;
    overflow: hidden; /* Ensure overflow is hidden */
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.carousel {
    display: flex;
    transition: var(--transitionStyle);
    transform-style: preserve-3d;
}

.carousel-item {
    position: relative;
    flex: 0 0 15%;
    margin: 0 0.8rem;
    transform-origin: center center;
    transform: scale(0.8) rotateY(10deg);
    transition: var(--transitionStyle);
}

.carousel-item.active {
    transform: scale(1) rotateY(0);
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: var(--boxShadow);
}

.reflection {
    position: absolute;
    bottom: -26%; 
    width: 100%;
    height: 30%; 
    overflow: hidden;
    transform-origin: bottom;
    opacity: 1;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); 
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.reflection img {
    opacity: 0.5; /* Make the reflection semi-transparent */
    width: 100%; /* Match the width of the parent */
    height: auto; /* Maintain aspect ratio */
    filter: blur(2px); /* Add subtle blur to the reflection */
    transform: scaleY(-1); /* Flip the image vertically for the reflection */
}

/* Navigation buttons */
.carousel-container button {
    position: relative;
    top: 0;
    z-index: 100;
    background-color: var(--neutral70);
    color: var(--neutral0);
    border: none;
    padding: 0.8rem;
    cursor: pointer;
    border-radius: 50%;
    width: auto;
    height: 3rem;
    aspect-ratio: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.carousel-container button:hover {
    background-color: var(--accentVariantA100);
}

/* Indicators (dots) */
.indicators {
    text-align: center;
    margin-top: 1.25rem;
    position: relative;
}

.indicator {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    margin: 0 0.5rem;
    background: var(--neutral70);
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background: var(--accent100);
}

.album-details-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    margin: auto 0;
}

@media (max-width: 768px) {
    
    #carousel-container {
        height: 15rem;
        max-height: 15rem; /* Ensure max-height is set to accommodate content */
    }
    .carousel-item {
        transform: scale(1.2);
    }

    .carousel-item.active {
        transform: scale(1.5) rotateY(0);
    }

    .indicators {
        transform: scale(0.9);
    }

    .indicator {
        display: none;
    }
    
}

