select {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: var(--neutral70);
    color: var(--neutral0);
    border: none;
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
    transition: var(--transitionStyle);
    font-family: var(--defaultFont);
}

/* Styles for color swatches in select options */
select option {
    display: flex;
    align-items: center;
}

select option .theme-swatches {
    display: flex;
    gap: 0.5rem;
    margin-left: 1rem;
}

select option .color-swatch {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.theme-swatches {
    display: flex;
    flex-direction: row;
    gap: var(--gapDistance);
}

.color-swatch {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

/* Custom Select Styles */
.custom-select {
    position: relative;
    width: 90%;
    background-color: var(--neutral90);
    border-radius: var(--borderRadius);
    cursor: pointer;
    padding: 0.5rem;
    color: var(--neutral0);
    box-shadow: var(--boxShadow);
}

.selected-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.options-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--neutral70);
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    z-index: 10;
}

.options-container.active {
    max-height: 200px;
    overflow-y: auto;
}

.option {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option:hover {
    background-color: var(--neutral90);
}

.theme-swatches {
    display: flex;
    gap: 0.5rem;
}

.color-swatch {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}